<a href="https://colab.research.google.com/github/Sayak459/Python/blob/main/Lists/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
Sayak=[12,"souvik",12.78,9,"anik"]
print(Sayak)

[12, 'souvik', 12.78, 9, 'anik']

In [ ]:
Sayak=[34,78,87,35]
Sayak.remove(78)
print(Sayak)

[34, 87, 35]

In [ ]:
s1=[12,23]
s2=[1,3]
s=s1+s2
print(s)

[12, 23, 1, 3]

In [ ]:
s=int(input("enter the number of elements to be stored in the list :- "))
l=[]
for x in range(s):
  x1=int(input("Enter the number to be stored in list"))
  l.append(x1)
print(l)

enter the number of elements to be stored in the list :- 3
Enter the number to be stored in list1
Enter the number to be stored in list2
Enter the number to be stored in list4
[1, 2, 4]

In [ ]:
s2=[34,"anik",45,987,18.87]
print(s2[2:5])

[45, 987, 18.87]

In [ ]:
s3=[34,76,867,"sayak"]
def convert(s3):
 return tuple(s3)
print(s3)

[34, 76, 867, 'sayak']

In [ ]:
l1=[]
l2=[]
l3=l1+l2
print(l3)

[]

In [ ]:
s4=[34,98,"sayak",7654,]
print(len(s4))

4

In [ ]:
s5=[45,87,54]
print(max(s5))

87

In [ ]:
s6=[45,76,999,427325726]
print(min(s6))

45

In [ ]:
s7=["you",65,87,45,"hey"]
s8=["hi",67,19.76]
s7.append(87)
s8.append(96)
s9=s7+s8
print(s9)

['you', 65, 87, 45, 'hey', 87, 'hi', 67, 19.76, 96]

In [ ]:
s10=[45,"time",98]
s10.insert(4,78)
print(s10)

[45, 'time', 98, 78]

In [ ]:
s11=[45,76,34]
s11.pop()
print(s11)

[45, 76]

In [ ]:
s12=[56,8975,315738]
s12.remove(8975)
print(s12)

[56, 315738]

In [ ]:
s13=["hi",76,56]
s13.reverse()
print(s13)

[56, 76, 'hi']

In [ ]:
s14=[1,2,3,4,5,6,7,8,10]
c1=0
e=int(input("Enter the number to be find :- "))
for x in s14:
  if e==x:
    print("found")
    c1=c1+1
if c1==0:
  print("Not found")

Enter the number to be find :- 8
found

In [ ]:
l=[]
for x in range(10):
  q=x**3
  l.append(q)
print(l)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [ ]:
def histogram( items ):
    for n in items:
        output = ''
        times = n
        while( times > 0 ):
          output += '*'
          times = times - 1
        print(output)
s=int(input("enter the number of elements to be stored in the list :- "))
l=[]
for x in range(s):
  x1=int(input("Enter the number to be stored in list"))
  l.append(x1)
print(l)
histogram(l)

enter the number of elements to be stored in the list :- 3
Enter the number to be stored in list20
Enter the number to be stored in list40
Enter the number to be stored in list60
[20, 40, 60]
********************
****************************************
************************************************************