<a href="https://colab.research.google.com/github/Sayak459/Python/blob/main/Dictionary/python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Create a dictionary which has at least 5 items. Print it
s={"name":"sayak","roll":71,"age":21}
print(s)

{'name': 'sayak', 'roll': 71, 'age': 21}

In [ ]:
#Update any one of the item. Print it.
s2={"name":"sayak","roll":71}
print(s2)
s2["roll"]=72
print(s2)

{'name': 'sayak', 'roll': 71}
{'name': 'sayak', 'roll': 72}

In [ ]:
#Add one more item. Print it
s1={"name":"sayak"}
print(s1)
s1["roll"]=71
print(s1)

{'name': 'sayak'}
{'name': 'sayak', 'roll': 71}

In [ ]:
#Delete a particular item mentioning key value. Print it.
s3={"name":"sayak","roll":71}
del s3["name"]
print(s3)

{'roll': 71}

In [ ]:
#Delete the first item without mentioning key value. Print the dictionary.
s4={"name":"sayak","roll":71,"age":21}
s4.popitem()
print(s4)

{'name': 'sayak', 'roll': 71}

In [ ]:
#Remove all items from the dictionary.
s5={"name":"sayak","roll":71,"age":21}
s5.clear()
print(s5)

{}

In [ ]:
#Delete the dictionary.
s6={"name":"sayak","roll":71,"age":21}
del s6
print(s6)

NameError: ignored

In [ ]:
#Create a dictionary with each item being a pair of a number and its square. Do it in single line
#of code.
s7={n:n**2 for n in range(1,10)}
print(s7)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [ ]:
#Do the same as above only for odd numbers.
s8={n:n**2 for n in range(1,10,2)}
print(s8)

{1: 1, 3: 9, 5: 25, 7: 49, 9: 81}

In [ ]:
#Print all items and keys of the dictionary
s9={"name":"sayak","roll":71,"age":21}
print(s9.keys())
print(s9.items())

dict_keys(['name', 'roll', 'age'])
dict_items([('name', 'sayak'), ('roll', 71), ('age', 21)])

In [ ]:
#Calculate the length of the dictionary.
s10={"name":"sayak","roll":71,"age":21}
len(s10)

3

In [ ]:
#Sort the items in the dictionary.
s12={1:23,4:34,3:45,6:56,10:78}
print(sorted(s12))

[1, 3, 4, 6, 10]

In [ ]:
#Create two dictionaries. Concatenate them
s13={1:"sayak",2:71,3:21}
s14={4:"anik",5:71,6:22}
s13.update(s14)
print(s13)

{1: 'sayak', 2: 71, 3: 21, 4: 'anik', 5: 71, 6: 22}

In [ ]:
#Pop an element not present from the dictionary, provided a default value.
s15={"name":"sayak","roll":21,"age":22}
vtr="hometown"
c=0
for key in s15.keys():
  if s15[key]==vtr:
    c=1
    s15.pop(key)
    break
if c!=1:
  print(vtr,'NOT FOUND IN THE DICTIONARY')

hometown NOT FOUND IN THE DICTIONARY

In [ ]:
#Sort the items in frozen set.

In [ ]:
#Write a program to check whether an item is present or not.
myList = []
length = int(input("Enter number of elements: "))
for i in range(0, length):
    value = int(input())
    myList.append(value)
ele = int(input("Enter element to be searched in the list: "))

found = False
for i in myList:
    if(i == ele) :
        found = True
        break
if(found):
    print("Element found")
else :
    print("Element not found!")

Enter number of elements: 3
44
55
66
Enter element to be searched in the list: 44
Element found

In [ ]:
#Write a program to print all the items of the dictionary using loop.
s={'a':'sayak','b':'anik','c':'souvik'}
for key in s:
  print(key,s[key])

a sayak
b anik
c souvik

In [ ]:
#Write a program to map two lists (one containing color names and the other containing color
#codes) into dictionary.
keys = ['red', 'green', 'blue']
values = ['#FF0000','#008000', '#0000FF']
color_dictionary = dict(zip(keys, values))
print(color_dictionary)

{'red': '#FF0000', 'green': '#008000', 'blue': '#0000FF'}

In [ ]:
#Write a program to store student data in dictionary (name, class, subjects). Remove duplicate
#entries
dict = {1: ['Roy',10,'Maths'],2: ['Gargee',6,'Biology'],3: ['Shounak',12,'English'],4: ['Roy',10,'Maths']}
new_dict={}
lst=[]
for key,value in dict.items():
    if value not in lst:
        lst.append(value)
        new_dict[key] = value
print(new_dict)

{1: ['Roy', 10, 'Maths'], 2: ['Gargee', 6, 'Biology'], 3: ['Shounak', 12, 'English']}

In [ ]:
#Write a program to get the maximum and minimum value in a dictionary.
dict={'6.Name': '5.Sayak', '4.Age': 7, '3.Class': 1, '2.Roll no.': 0, '1.School': 'SLHS'}
print(max(dict.keys()))
print(min(dict.keys()))

6.Name
1.School

In [ ]:
#Write a Python program to concatenate following dictionaries to create a new one using loop.
dict = {4:'this',1:'what',3:'is'}
dict2 = {7:'weird',6:'wow'}
for key,value in dict2.items():
    dict[key] = value
print(dict)

{4: 'this', 1: 'what', 3: 'is', 7: 'weird', 6: 'wow'}

In [ ]:
#Write a Python program to multiply all the items in a dictionary.
d = {1:10, 2:5, 3:7}
answer=1
for i in d.values():
    answer=answer*i
print(answer)

350

In [ ]:
#Write a Python program to sum all the items in a dictionary.
d = {1:10, 2:5, 3:7}
answer=0
for i in d.values():
    answer=answer+i
print(answer)

22

In [ ]:
#Write a Python program to sort a dictionary by key.
dict = {1:10,3:30,5:50,2:20,4:40}
dict2 = {}
for i in sorted(dict.keys()):
    dict2[i] = dict[i]
print(dict2)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50}

In [ ]:
#Write a Python program to check a dictionary is empty or not.
d= {}
if (len(d)==0):
    print('Dictionary is empty.')
else:
    print('Dictionary is not empty.')

Dictionary is empty.

In [ ]:
#Write a Python program that generates a set of prime numbers and another set of odd numbers.
#Demonstrate the result of union, intersection, difference, and symmetric difference operations on
#these sets.
prime = set()
odd = set()
for i in range(1,15):
    if i%2 != 0:
        odd.add(i)
    c=0
    for j in range(2,i//2 + 1):
        if(i%j==0):
            c=1
            break
        if(c==0):
            prime.add(i)
print('The union :',(odd | prime))
print('The intersection :',(odd & prime))
print('The difference :',(odd - prime))
print('The symmetric difference :',(odd ^ prime))

The union : {1, 3, 5, 7, 9, 11, 13}
The intersection : {5, 7, 9, 11, 13}
The difference : {1, 3}
The symmetric difference : {1, 3}

In [ ]:
#Write a Python program that creates two sets. One of even numbers in range 1-10 and the other has
#all composite numbers in range 1-20. Demonstrate the use of all( ), issuperset(), len(), and sum()
#functions on the sets.
comp = set()
even = set()
for i in range(1,11):
    if i%2 == 0:
        even.add(i)
for i in range(1,21):
    c=0
    for j in range(2,i//2 + 1):
        if (i%j==0):
            c=1
            break
    if(c==1):
        comp.add(i)
print('Is set iterable ?',all(comp))
print('Even set is a superset of composite set ?',even.issuperset(comp))
print('The length of even set :',len(even))
print('The sum of even set :',sum(even))

Is set iterable ? True
Even set is a superset of composite set ? False
The length of even set : 5
The sum of even set : 30

In [ ]:
#Write a Python program which creates two dictionaries. One that stores conversion values from
#meters to centimeters and the other that stores the reverse.
dict ={}
dict_rev={}
for _ in range(4):
    val = int(input('Values in Meter : '))
    dict[val] = val*100
    dict_rev[val*100] =val
print('m to cm : ',dict)
print('cm to m : ',dict_rev)

Values in Meter : 34
Values in Meter : 43
Values in Meter : 66
Values in Meter : 99
m to cm :  {34: 3400, 43: 4300, 66: 6600, 99: 9900}
cm to m :  {3400: 34, 4300: 43, 6600: 66, 9900: 99}

In [ ]:
#Write a Python program to store a sparse matrix as a dictionary.
mat = [[0, 0, 0, 1, 0],	[2, 0, 0, 0, 3],[0, 0, 0, 4, 0]]
dict = {}
for i in range(len(mat)):
	for j in range(len(mat[i])):
		if mat[i][j] != 0:
			dict[i,j] = mat[i][j]
print(dict)

{(0, 3): 1, (1, 0): 2, (1, 4): 3, (2, 3): 4}

In [ ]:
#Write a Python program that creates a dictionary of cubes of odd numbers in the range 1-10 (in a
#single statement).
a= int(input("Please enter the maximum number:"))
dict={i:i**3 for i in range(1,a+1,2)}
print(dict)

Please enter the maximum number:34
{1: 1, 3: 27, 5: 125, 7: 343, 9: 729, 11: 1331, 13: 2197, 15: 3375, 17: 4913, 19: 6859, 21: 9261, 23: 12167, 25: 15625, 27: 19683, 29: 24389, 31: 29791, 33: 35937}

In [ ]:
#Write a Python program that inverts a dictionary, i.e., it makes key of one dictionary value of
#another and vice versa.
dict = {1:'hell',2:'is',3:'full',4:'of',5:'people',6:'like',7:'me'}
dict_inv={}
for key,value in dict.items():
    dict_inv[value]=key
print(dict)
print(dict_inv)

{1: 'hell', 2: 'is', 3: 'full', 4: 'of', 5: 'people', 6: 'like', 7: 'me'}
{'hell': 1, 'is': 2, 'full': 3, 'of': 4, 'people': 5, 'like': 6, 'me': 7}

In [ ]:
#Write a Python program that has dictionary of names of students and a list of their marks in 4
#subjects. Create another dictionary from this dictionary that has name of the students and their total
#marks. Find out the topper and his/ her score.
dict = {'Me' : [10,10,10,10],'Myself' : [10,10,10,9],'I':[10,10,10,8]}
dict2 = {}
for key,value in dict.items():
    dict2[key] = sum(value)
maxi = max(dict2.values())
for key,value in dict2.items():
    if value == maxi:
        print('The topper is',key)

The topper is Me

In [ ]:
#Write a Python program that displays information about an employee. Use nested dictionary to do
#this task.
from typing import Dict


dict= {1: {'Name': 'Sayak', 'Age': 19, 'Sex': 'Male'}, 2:{'Name': 'anik', 'Age': 19, 'Sex': 'Female'}}
print(dict)

{1: {'Name': 'Sayak', 'Age': 19, 'Sex': 'Male'}, 2: {'Name': 'anik', 'Age': 19, 'Sex': 'Female'}}

In [ ]:
#Create a dictionary of products purchased and their MRPs. Calculate the bill and display to the
#customer.
dict = {'purse':50,'belt':60,'shoe':100,'sock':310}
money=0
for i in dict.keys():
    print('Enter the quantity of',i,': ',end='')
    a = int(input())
    money = money + (dict[i]*a)
print('The bill is Rs.',money)

Enter the quantity of purse : 340
Enter the quantity of belt : 568
Enter the quantity of shoe : 88
Enter the quantity of sock : 122333
The bill is Rs. 37983110

In [ ]:
#Write a program that has a dictionary of your friends’ name (as keys) and their birthdays. Print the
#items in the dictionary in a sorted order. Prompt the user to enter a name and check if it is present
#in the dictionary. If the name does not exist, then ask the user to enter DOB. Add the details in the
#dictionary.
from datetime import datetime

def get_key(val):
    for key, value in dict.items():
        if val == value:
            return key

def sorting():
    lst=[]
    for key,value in dict.items():
        lst.append(value)
    lst.sort(key = lambda date: datetime.strptime(date,"%d %b %Y"))
    for i in lst:
        print(get_key(i),'->',i)

dict = {'Soumodeep' : '26 Feb 2003','Dipan' : '19 Sep 2003','Aranya' : '30 Aug 2002','Koyena' : '30 Sep 2002'}

sorting()

print('Enter -1 to stop.')
while True:
    a = input('Name : ')
    if(a=='-1'):
        break
    if a in dict.keys():
        continue
    else:
        b = input('DOB : ')
        dict[a]=b

sorting()

Aranya -> 30 Aug 2002
Koyena -> 30 Sep 2002
Soumodeep -> 26 Feb 2003
Dipan -> 19 Sep 2003
Enter -1 to stop.

In [ ]:
#Write a Python program that displays a menu and its price. Take the order from the customer.
#Check if the ordered product is in the menu. In case it is not there, the customer should be asked to
#reorder and if it is present, then product should be added in the bill.
dict = {'chicken':70,'momo':50,'drink':40,'Rice':100}
for key,value in dict.items():
    print(key,'->',value)
money=0
print('Enter -1 to stop.')
while True:
    a = input('Order : ')
    if(a=='-1'):
        break
    if a in dict.keys():
        money = money + dict[a]
print('The bill is Rs.',money)